services:
  auth-adapter:
    image: auth-adapter
    build:
      dockerfile: Dockerfile
      context: auth-adapter
    environment:
      OTEL_ENABLE: false
      OTEL_COLLECTOR_GRPC_ADDR: opentelemetry:4317
      MONITOR_ENABLE: false
      OTEL_SERVICE_NAME: auth-adapter
      NAMESPACE: demo
      GRPC_GO_LOG_VERBOSITY_LEVEL: 99
      GRPC_GO_LOG_SEVERITY_LEVEL: debug
    volumes:
      - "./config.yaml:/opt/auth-adapter/config.yaml"
    ports:
      - "9000:9000"
    networks:
      private:
  api-gateway:
    build:
      dockerfile: Dockerfile
      context: api-gateway
    volumes:
      - "./config.yaml:/opt/auth-adapter/config.yaml"
      #- "./envoy.yaml:/etc/envoy/envoy.yaml"
#    entrypoint: "/usr/local/bin/envoy"
#    command: [ "-c /etc/envoy/envoy.yaml", "-l info" ]
    ports:
      - "8080:8080"
      - "8000:8000"
    environment:
      AUTH_ADAPTER_HOST: auth-adapter
      OPEN_TELEMETRY_HOST: opentelemetry
    networks:
      private:
  web:
    image: nicholasjackson/fake-service:v0.19.1
    environment:
      LISTEN_ADDR: 0.0.0.0:9091
      MESSAGE: "Hello from gRPC"
      NAME: "web-grpc"
      SERVER_TYPE: "grpc"
    ports:
      - "9091:9091"
    networks:
      private:

  web-http:
    image: nicholasjackson/fake-service:v0.19.1
    environment:
      LISTEN_ADDR: 0.0.0.0:9092
      MESSAGE: "Hello from HTTP"
      NAME: "web-http"
      SERVER_TYPE: "http"
    ports:
      - "9092:9092"
    networks:
      private:
  health-demo:
    image: demo-health
    build:
      dockerfile: Dockerfile
      context: ../tools/health-demo
    ports:
      - "8081:8081"
    networks:
      private:
  opentelemetry:
    build:
      dockerfile: Dockerfile
      context: ../tools/opentelemetry
    healthcheck:
      test: ["CMD-SHELL", "curl -sf http://localhost:13133 || exit 1"]
      interval: 1s
      timeout: 120s
      retries: 120
    command: ["--config=/etc/otel-collector-config.yaml"]
    ports:
      - "${PORT_UI:-55679}:55679"
    networks:
      private:

networks:
  private:
    driver: bridge

